<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Clientes</title>
</head>
<body>
    <h2> Clientes cadastrados</h2>

    {% if clientes %}
        <table border="1" cellpadding="6">
            <tr>
                <th> Id</th>
                <th> Nome</th>
                <th> Celular</th>
                <th> Email</th>
                <th> CPF/CNPJ </th>
            </tr>
            {% for item in clientes %}
            <tr>
                <td> {{item[0]}}  </td>
                <td> {{item[1]}} </td>
                <td> {{item[2]}} </td>
                <td> {{item[3]}} </td>
                <td> {{item[4]}} </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <p> Nenhuma cliente encontrado</p>
    {% endif %}
    
</body>
</html>