{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}

<div class="card p-4 shadow-sm">
    <h1 class="h5 mb-3">{{ titulo }}</h1>

    <form action="/produto" method="post">
        <div class="mb-3">
            <label for="form-label"> Nome</label>
            <input class="form-control" type="text" name="nome">
        </div>
        <div class="mb-3">
            <label for="form-label"> Preço</label>
            <input class="form-control" type="text" name="preco">
        </div>
        <div class="mb-3">
            <label for="form-label"> Estoque</label>
            <input class="form-control" type="text" name="estoque">
        </div>
         <div class="mb-3">
            <label for="form-label"> ID Categoria</label>
            <input class="form-control" type="text" name="id_categoria">
        </div>
        <button class="btn btn-success" type="submit"> Salvar</button>
        <a href="{{ url_for('produto_listar') }}" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}